<div class="hero">
  <div class="slider">
    <ul class="slides">
      <li class="lazy-bg flex-active-slide background">
        <div class="container">
          <h2 class="slideTitleHeader">Header goes here</h2>
          <h3 class="slideSubtitle">Less important text goes here</h3>
          <p class="slideDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Fugiat aliquid minus
            nemo sed est.</p>
          <a href="#" class="button cut-corner">Read More</a>
        </div>
    </ul>
  </div>
</div>
