<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">

  <!-- Discography -->

  <mat-step [formGroup]="discography">
    <div formArrayName="newAlbum">
      <ng-template matStepLabel>Discography</ng-template>
      <form #currentAlbum *ngFor="let albumCtrl of discographyCtrl?.controls; let i = index" [formGroupName]="i">
        <!-- Album Name -->
        <mat-form-field>
          <input formControlName="album" matInput placeholder="Album Name" required>
        </mat-form-field>
        <!-- Year -->
        <mat-form-field>
          <input formControlName="year" type="number" matInput placeholder="Year" required>
        </mat-form-field>
        <!-- Tracks -->
        <mat-form-field>
          <input formControlName="tracks" type="number" matInput placeholder="Tracks" required>
        </mat-form-field>
        <!-- Image -->
        <mat-form-field>
          <input formControlName="image" matInput placeholder="Image url" required>
        </mat-form-field>
        <a style="cursor: pointer; margin-left: 10px; color: red" (click)="onRemoveAlbum(i)"><i
          class="fas fa-minus"></i></a>
      </form>
      <div>
        <button type="button" style="float: left" mat-button
                matStepperNext
                (click)="onDiscographyForm(stepper)"
                [disabled]="!isDiscographyValid">Next
        </button>
        <div style="text-align: center"><a style="cursor: pointer; margin-left: 10px; color: red" (click)="onAddNewAlbum()"><i
          class="fas fa-plus"></i></a><span style="color: white; margin-left: 10px">Add new Album</span>
        </div>
      </div>
    </div>
  </mat-step>


  <!-- Submit -->

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p style="color: white">You are now done.</p>
    <div>
      <button type="button" style="float: right; margin-left: 5px" mat-button matStepperPrevious>Back</button>
      <button type="submit" style="float: left" mat-button (click)="onSubmitForm()">Submit</button>
      <button type="button" style="float: right" mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
