<header class="site-header">
  <div class="container">
    <a href="#" id="branding">
      <img src="assets/images/dummy/logo.png" alt="Site Title">
      <small class="site-description">Slogan goes here</small>
    </a> <!-- #branding -->

    <nav class="main-navigation">
      <button type="button" class="toggle-menu"><i class="fas fa-bars"></i></button>
      <ul class="menu">
        <li
          [ngClass]="{'homeOpen': (bandsState | async).bandId, 'homeClose': !(bandsState | async).bandId}"
          class="menu-item" routerLinkActive="current-menu-item" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/']">Home</a>
        </li>
        <li class="menu-item" routerLinkActive="current-menu-item" *ngIf="(bandsState | async).bandId">
          <a class="aboutSlide" [routerLink]="['about']">About</a>
        </li>
        <li class="menu-item" routerLinkActive="current-menu-item" *ngIf="(bandsState | async).bandId">
          <a class="gallerySlide"[routerLink]="['gallery']">Gallery</a>
        </li>
        <li class="menu-item" routerLinkActive="current-menu-item" *ngIf="(bandsState | async).bandId">
          <a class="membersSlide"[routerLink]="['members']">Members</a>
        </li>
        <li class="menu-item" *ngIf="(bandsState | async).bandId">
          <a class="blogSlide" href="blog.html">Blog</a>
        </li>
        <li class="menu-item" *ngIf="(bandsState | async).bandId">
          <a class="contactSlide" href="contact.html">Contact</a>
        </li>
        <li class="menu-item">
          <a style="cursor: pointer" (click)="onAddNewBand()">Add New Band</a>
        </li>
        <li class="menu-item">
          <a class="" href="blog.html">Login</a>
        </li>
      </ul> <!-- .menu -->
    </nav> <!-- .main-navigation -->
    <div class="mobile-menu"></div>
  </div>
</header>
