/* line 1, sass/layout/_header.scss */
.site-header {
  *zoom: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

/* line 4, sass/libs/_mixins.scss */
.site-header:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

/* line 5, sass/layout/_header.scss */
.header-collapse .site-header {
  position: absolute;
  width: 100%;
}

/* line 9, sass/layout/_header.scss */
.site-header .container {
  *zoom: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* line 4, sass/libs/_mixins.scss */
.site-header .container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

/* line 14, sass/layout/_header.scss */
#branding {
  float: left;
  position: relative;
  margin: 35px 0 20px;
  color: inherit;
  text-decoration: none;
}

/* line 21, sass/layout/_header.scss */
#branding img {
  display: block;
}

/* line 22, sass/layout/_header.scss */
#branding .site-description {
  display: block;
  margin: 0;
}

/* line 28, sass/layout/_header.scss */
.main-navigation {
  float: right;
}

/* line 30, sass/layout/_header.scss */
.main-navigation .toggle-menu {
  background: none;
  color: #848484;
  font-size: 18px;
  font-size: 1.125em;
  border: none;
  outline: 0;
  position: relative;
  top: 40px;
  display: none;
}

a:hover, a:active, a:focus {
 outline: 0;
}

/* line 40, sass/layout/_header.scss */
.main-navigation .toggle-menu:hover, .main-navigation .toggle-menu:active, .main-navigation .toggle-menu.active {
  color: #fd5927;
}

@media screen and (max-width: 640px) {
  /* line 30, sass/layout/_header.scss */
  .main-navigation .toggle-menu {
    display: block;
  }
}

/* line 48, sass/layout/_header.scss */
.main-navigation .menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

@media screen and (min-width: 641px) {
  /* line 48, sass/layout/_header.scss */
  .main-navigation .menu {
    display: block !important;
  }
}

@media screen and (max-width: 640px) {
  /* line 48, sass/layout/_header.scss */
  .main-navigation .menu {
    display: none;
  }
}

/* line 56, sass/layout/_header.scss */
.main-navigation .menu .menu-item {
  position: relative;
  float: left;
}

/* line 60, sass/layout/_header.scss */
.main-navigation .menu .menu-item:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  opacity: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fd5927;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

/* line 75, sass/layout/_header.scss */
.main-navigation .menu .menu-item:last-child a:after {
  display: none;
}

/* line 78, sass/layout/_header.scss */
.main-navigation .menu .menu-item:hover:after, .main-navigation .menu .menu-item.current-menu-item:after {
  opacity: 1;
}

/* line 80, sass/layout/_header.scss */
.main-navigation .menu .menu-item:hover a, .main-navigation .menu .menu-item.current-menu-item a {
  color: #fd5927;
}

/* line 84, sass/layout/_header.scss */
.main-navigation .menu a {
  display: block;
  position: relative;
  padding: 45px 20px;
  color: white;
  font-size: 15px;
  font-size: 0.9375em;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

/* line 94, sass/layout/_header.scss */
.main-navigation .menu a:after {
  content: "/";
  position: absolute;
  right: 0;
  color: rgba(255, 255, 255, 0.15);
  font-weight: 300;
}

/* line 105, sass/layout/_header.scss */
.mobile-menu {
  clear: both;
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 641px) {
  /* line 105, sass/layout/_header.scss */
  .mobile-menu {
    display: none !important;
  }
}

/* line 112, sass/layout/_header.scss */
.mobile-menu .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 117, sass/layout/_header.scss */
.mobile-menu .menu a {
  padding: 10px;
  color: #848484;
  text-decoration: none;
  display: block;
  background: #191919;
}

/* line 124, sass/layout/_header.scss */
.mobile-menu .menu a:hover {
  color: #fd5927;
}

/* line 126, sass/layout/_header.scss */
.mobile-menu .menu .current-menu-item a {
  color: #fd5927;
}

.section-header {
  *zoom: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 70px;
  padding-top: 40px;
}

/* line 4, sass/libs/_mixins.scss */
.section-header:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

/* line 164, sass/pages/_homepage.scss */
.section-header .section-title {
  color: white;
  font-size: 36px;
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 0;
  float: left;
}
