<main class="main-content">
  <div class="fullwidth-block download">
    <div class="container" style="padding: 100px 0">
      <div class="row">
        <div class="col-md-5">
          <h2 class="page-title">Active</h2>

          <div *ngFor="let member of (bandsStore | async).members">
            <div class="item" *ngIf="!member.former">
              <figure class="cover"><img [src]="member.image" [alt]='member.first_name + " " +  member.last_name'></figure>
              <h3 class="item-title">{{ member.first_name }} {{ member.last_name }}</h3>
              <span class="year">{{ member.member_pos }}</span>
              <!--<a href="#" class="button small primary">Download</a>-->
              <!--<a href="#" class="button small secondary">Listen to</a>-->
              <div class="social-share">
                <span>Follow:</span>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-md-push-2">
          <h2 class="page-title">Former</h2>

          <div *ngFor="let member of (bandsStore | async).members">
            <div class="item" *ngIf="member.former">
              <figure class="cover"><img [src]="member.image" [alt]='member.first_name + " " +  member.last_name'></figure>
              <h3 class="item-title">{{ member.first_name }} {{ member.last_name }}</h3>
              <span class="year">{{ member.member_pos }}</span>
              <div class="social-share">
                <span>Follow:</span>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div> <!-- .testimonial-section -->


</main> <!-- .main-content -->
