.page-title {
  color: white;
  font-size: 36px;
  font-size: 2.25em; }
.item {
  *zoom: 1;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #2c2c2c; }
/* line 4, sass/libs/_mixins.scss */
.item:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0; }
/* line 15, sass/components/_download.scss */
.item .item-title {
  color: #fd5927;
  font-weight: 400;
  margin: 0; }
/* line 20, sass/components/_download.scss */
.item .year {
  display: block;
  color: white;
  margin-bottom: 20px; }
/* line 25, sass/components/_download.scss */
.item a.button {
  float: left;
  margin-right: 10px; }
/* line 30, sass/components/_download.scss */
.item .social-share {
  float: left;
  border: 1px solid #2c2c2c;
  padding: 8px 10px;
  line-height: normal; }
/* line 35, sass/components/_download.scss */
.item .social-share span {
  font-size: 13px;
  font-size: 0.8125em; }
/* line 37, sass/components/_download.scss */
.item .social-share a {
  color: #848484;
  display: inline-block;
  margin: 0 5px;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
/* line 43, sass/components/_download.scss */
.item .social-share a:hover {
  color: #fd5927; }

.cover {
  width: 124px;
  height: 124px;
  overflow: hidden;
  float: right;
}

.cover img {
  display: block;
  width: 100%;
  max-width: 100%;
}
